// main script name
manifest.mainScript = 'pipeline.nf'

executor {
  $sge {
	queueSize = 250
  }

  $local {
	queueSize = 4
  }
}

process {
  
  tag = { expId }

  executor = 'sge'
  penv = "smp"

  beforeScript = "module purge"

  memory = 12.GB
  time = 6.h

  $indexGenome {
	tag = ""
	memory = 48.GB
	cpus = 18
  }

  $map2genome {
	memory = 48.GB
	cpus = 16
  }

}

