// main script name
manifest.mainScript = 'pipeline.nf'

executor {
  $sge {
	queueSize = 250
  }

  $local {
	queueSize = 4
  }
}

process {
  
  tag = { expId }

  executor = 'sge'
  penv = "smp"

  beforeScript = "module purge"

  memory = 12.GB
  time = 6.h

  $indexGenome {
	tag = ""
	memory = 48.GB
	cpus = 18
  }

  $faidx {
	tag = ""
	time = 15.m
	memory = 4.GB
  }

  $indexHairpin {
	tag = ""
	memory = 48.GB
	cpus = 16
  }

  $projExons {
	tag = ""
	memory = 4.GB
	time = 15.m
  }

  $cutadapt {
	time = 12.h
  }

  $map2genome {
	memory = 48.GB
	cpus = 16
  }

  $bamGenome2bw {
  }

  $bamGenome2counts {
  }

  $map2hairpins {
	memory = 24.GB
	cpus = 8
  }

  $hairpins2genome {
  }

  $hairpins2counts {
  }

}

